# 유니티 자동 생성 폴더 및 캐시
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/

# 빌드 결과물 (APK, 유니티 패키지 등)
*.apk
*.aab
*.unitypackage

# 에디터 설정 관련 (컴퓨터마다 다를 수 있음)
.vscode/
.idea/
.vs/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd

# OS에서 자동 생성되는 파일
.DS_Store
Thumbs.db

# 크래시 리포트
*.stacktrace

# Rider 사용자일 경우
*.sln.iml